{% extends 'bleecker.layout.twig' %}

{% block content %}

            
    <div class="col-md-9">
        
        <div class="post">
            <h2 class="post-title">Why this blog</h2>
            <div class="post-text">
               {{ blog.about }}
            </div>
        </div>
        
    </div>
      
{% endblock %}